<div class="d-flex rounded-pill px-3 py-1 bg-secondary bg-opacity-10 align-items-center text-muted">
  <p class="m-0">{{name}}</p>
  <i class="ti ti-x ms-1" style="cursor: pointer;" _="on click {{onclose}}"></i>
</div>