{{#if error}}
<div class="d-flex vh-100 flex-column justify-content-center align-items-center">
  <i class=" mb-3 ti ti-mail-forward text-primary" style="font-size: 6rem;"></i>
  <h2>Failed to send recovery email</h2>
  <p class="text-center">
    Contact your system administrator to change the admin password manually
  </p>
</div>
{{else}}
<div class="d-flex vh-100 flex-column justify-content-center align-items-center">
  <i class=" mb-3 ti ti-mail-forward text-primary" style="font-size: 6rem;"></i>
  <h2>Recovery email sent successfully</h2>
  <p class="text-center">
    A password reset link has been sent to the recovery email address
    <br>
    Check your spam folder in case you can't find it in your inbox
  </p>
  <samp class="bg-light py-1 px-2 rounded-2 border">{{email}}</samp>
</div>
{{/if}}