{{#if valid}}
<form id="form" class="top-50 start-50 translate-middle position-absolute row container gap-3" style="max-width: 350px;" method="post" _="install repeatPassword">
  <h4 class="text-center">Reset <span style="text-decoration: underline; text-decoration-color: var(--bs-primary);">admin</span> password</h4>
  <input type="hidden" name="token" value="{{token}}">
  <input class="form-control" type="password" placeholder="Password" name="password" required>
  <div class="input-group has-validation p-0">
    <input class="form-control" type="password" placeholder="Repeat Password" name="password_rep" required>
    <div class="invalid-feedback">
      Passwords do not match
    </div>
  </div>
  <button type="submit" class="col btn btn-primary">
    <span class="display-indicator spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
    Submit
  </button>
</form>
{{else}}
<div class="text-center top-50 start-50 translate-middle position-absolute row container gap-3">
  <i class=" mb-3 ti ti-clock text-primary" style="font-size: 6rem;"></i>
  <h5>Your password reset link has expired</h5>
  <p>Please generate a new one <a href="/dashboard/reset_password">here</a></p>
</div>
{{/if}}