<div class="text-center top-50 start-50 translate-middle position-absolute row container gap-3">
  <i class=" mb-3 ti ti-tick text-primary" style="font-size: 6rem;"></i>
  <h5>Admin password reset successfully</h5>
  <p>Please <a href="/dashboard">login</a> with your new password here</p>
</div>