<div class="h-100">
  <form class="d-flex h-100" style="gap: 5rem;" method="post" action="/dashboard/admin/appearance" _="
  on input remove @disabled from <button[type='submit']/> in me
  ">
    <div class="d-flex flex-column align-items-stretch">
      <div id="preview" class="mb-5" style="aspect-ratio: 9/17; height: 35rem">
        <div class="border bg_color h-100 overflow-hidden" style="border-radius: 30px; border-width: 10px !important;">
          <div class="pri_color" style="height: 3em">
            <h5 class="m-auto text-center txt_color_over_pri" style="line-height: 50px">Menu</h5>
          </div>
          <div class="container row row-cols-2 my-3 gy-4 gx-0">
            {{#times 6}}
            <div class="col position-relative" style="height: 100px">
              <div class="position-absolute translate-middle-x start-50">
                <div class="bg-dark bg-opacity-10 mb-2" style="height: 5em; width: 5em;"></div>
                <div class="bg-dark bg-opacity-10" style="height: 0.5em; width: 5em;"></div>
              </div>
            </div>
            {{/times}}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success mx-4" disabled>
        <i class="ti ti-check pe-1"></i>
        Apply
      </button>
    </div>
    <div class="mt-3" _="
      set :primary to <input[name='pri_color']/> in me
      set :secondary to <input[name='sec_color']/> in me
      set :background to <input[name='bg_color']/> in me
      def previewColors()
        set pri to .pri_color in #preview
        set pri's style's backgroundColor to :primary's value
        set sec to .sec_color in #preview
        set sec's style's backgroundColor to :secondary's value
        set bg to .bg_color in #preview
        set bg's style's backgroundColor to :background's value
        set txt_pri to .txt_color_over_pri in #preview
        make ContrastColor from {bgColor: :primary's value} called cc
        set txt_pri's *color to cc.contrastColor()
      end
      init call previewColors() end
      on input from :primary call previewColors()
      on input from :secondary call previewColors()
      on input from :background call previewColors()
      ">
      <h5>Colors</h5>
      {{> colorpicker title='Primary Color' name='pri_color' default=pri_color}}
      {{> colorpicker title='Secondary Color' name='sec_color' default=sec_color}}
      {{> colorpicker title='Background Color' name='bg_color' default=bg_color}}
    </div>
  </form>
</div>