<div class="w-75">
  <form class="card rounded-3 p-4" method="post" action="/dashboard/admin/passwords/recovery_email">
      <h5>Recovery email</h5>
      <hr>
      <p>If you've lost your password, this recovery email can be used to reset it</p>
      <input class="form-control" name="email" type="email" placeholder="{{recovery_email}}" required>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary mt-4" type="submit">Save</button>
      </div>
  </form>
</div>